header {
  background-color: $jetBlue;
  color: white;
  height: 200px;
}
.container {
  display: flex;
  height: 300px;
  width: 100%;

  .header-box {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .bars {
    font-size: 25px;
    text-align: left;
  }
  .logo {
    text-align: center;
  }
  .text-link {
    color: white;
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
  }
}
